html {
    height: 100%;
}

nav {
    background: #7567ad;
    box-shadow: 0 11px 8px 0 rgba(0, 0, 0, 0.315);
    -webkit-box-shadow: 0 11px 8px 0 rgba(0, 0, 0, 0.315);
    -moz-box-shadow: 0 11px 8px 0 rgba(0, 0, 0, 0.315);
    animation: 1s ease 0s 1 slideInFromLeft;
    z-index: 5;
    position: relative;
}

body {
    min-height: 100vh;
    height: 100%;
}

.page {
    background-color: #3c3650;
    min-height: 100vh;
}

.svg-background {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.active-timer {
    background-color: #c9c9c9;
}

.finished-timer {
    background-color: #ec7a4c;
    background-image: none !important;
}

.timer {
    box-shadow: -1px 32px 35px -1px rgba(0, 0, 0, 0.32);
    color: black;
    height: 7vh;
    border-radius: 20px;
    padding: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23FFF' fill-opacity='0.2'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
}

.timer-description span:nth-child(2){
    font-weight: 500;
}

.btn-success {
    background-color: #378037 !important;
}

.btn-success:hover,
.btn-success:active,
.btn-success:visited {
    background-color: #295f29 !important;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    transform: scale(1.03);
}

.active-block h3 {
    color: #ff7f50;
}

#logo {
    filter: invert(62%) sepia(51%) saturate(1772%) hue-rotate(325deg) brightness(100%) contrast(102%);
}

.my-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.content-modal {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    min-height: 30%;
    max-width: 500px;
}

.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
}

.close-modal:hover,
.close-modal:focus {
    color: #ff7f50;
    text-decoration: none;
    cursor: pointer;
}

#projects-panel {
    display: block;
    width: 30vw;
    z-index: 1;
    /* -200 was before */
    transform: translateY(0);
    background-color: #606060;
    box-shadow: 0px 9px 40px 3px rgba(0, 0, 0, 0.404);
    border-radius: 10px;
}

.project-item {
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    color: white;
}

.project-item-color {
    width: 10px;
    height: 10px;
    background-color: rgb(159, 216, 4);
    border-radius: 50%;
}

footer {
    background: #3c3650;
    padding-bottom: 5vh;
    color: white;
}

footer section {
    max-width: fit-content;
    text-align: center;
}

#add-project-btn {
    background-color: #9fd804;
}

.slide-down-animation {
    animation: 1s ease 0s 1 slideDownUnderNavBar forwards;
}

.slide-up-animation {
    animation: 1s ease 0s 1 slideUpUnderNavBar forwards;
}

.project-item-name-edit {
    display: none;
    float: left;
    width: 80%;
}

.page div[class*=block] > div > div:nth-child(even) {
    filter: grayscale(70%);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideDownUnderNavBar {
    0% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUpUnderNavBar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-130%);
    }
}

@keyframes closeDialog {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0) rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        display: none;
    }

    #displayAddTimerModal {
        margin-left: 0 !important;
    }

    .clickable {
        margin-left: 0 !important;
    }

    #projects-panel {
        position: absolute;
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
        background-color: #606060f7;
    }


    .timer-description{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .timer-description span{
        width: fit-content;
        margin-left: auto !important;
        margin-right: auto !important;
    }


    .timer {
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }

    .timer > div > div {
        display: none;
    }

    .timer > div.d-flex.my-auto.mb-auto > span {
        margin-right: 0 !important;
        text-align: center;
        width: fit-content;
    }

    .content-modal {
        width: 100%;
    }

}